* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#86e3ce, #d0e6a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: xx-large;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-weight: bold;
}

p {
  padding: 10px 20px;
  font-size: large;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}
body {
  position: relative;
  
  background: linear-gradient(90deg, #86e3ce, #d0e6a5);
}



@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: x-large;
  }

  p {
    font-size: medium;
    line-height: 1.5;
    padding: 10px;
  }
}
button,
a {
  touch-action: manipulation; /* Enable touch interactions */
}

button,
input[type="button"],
input[type="submit"] {
  min-height: 44px; /* Increase the target area for buttons */
  min-width: 44px;
}

